@{
    this.ViewData["Title"] = "EditComment";
}




<div class="container-fluid text-center">

    <h1>@this.ViewData["Title"]</h1>


    <a asp-controller="Comments" asp-action="DeleteComment">Delete Comment</a>


</div>