@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spare Parts</h1>
    

</div>
<br />


<div form-control class="text-center container-fluid">
    <br/>
    <a asp-controller="Categories" asp-action="AllCategory" class="btn btn-primary mx-auto d-block"> Next!!!</a>
    <br/>
    <div class="container">
        <img class="img-fluid rounded-circle" src="https://firebearstudio.com/blog/wp-content/uploads/2017/07/Car-Spare-Parts-categories.jpg">
    </div>

    <br />
</div>
