
@{
    this.ViewData["Title"] = "AddCategory";
}


<div class="container-fluid text-center">

    <h1>@this.ViewData["Title"]</h1>

</div>

<a asp-controller="Categories" asp-action="AllCategory">All Categories</a>